@use "../global" as *;

.u-mis1 {
    margin-inline-start: -0.2em;
    margin-inline-end: -0.45em;
}

.u-mie1 {
    margin-inline-start: -.2em;
    margin-inline-end: -.25em;
}

.u-mis2 {
    margin-inline-start: -0.6em;
}

