@use "../global" as *;

summary {
  display: block;
  
  &::-webkit-details-marker {
    display: none;
  }

  @media(any-hover: hover) {
    &:hover {
      cursor: pointer;
    }
  }
}

// /* その他 見栄えを整えるためのもの */
// .item {
//   padding-block: 20px;
//   border-bottom: 1px solid #000;
// }


// .content {
//   padding-top: 12px;
// }

.p-faq {

}

.p-faq__inner {
inline-size: min(1366px, 100%);
margin-inline: auto;
padding-inline: rm(120);
padding-block-start: rm(90);

@include mq('sp-down') {
  inline-size: 100%;
  padding-inline: rm(20);
  padding-block-start: rm(63);
}
}

.p-faq__heading {

}

.p-faq__heading-title {

}

.p-faq__list {
    margin-block-start: rm(45);
display: flex;
flex-direction: column;
gap: rm(10);
@include mq('sp-down') {
  margin-block-start: rm(31);
}
}

details[open] .p-faq__question-icon::after {
  rotate: 90deg;
}

.js-details {

}

.js-summary {
    position: relative;
}

.js-content {
position: relative;
}

.p-faq__item {

}

.p-faq__question {
    position: relative;

display: block;
background-color: #fff;
inline-size: 100%;
border-radius: 100vmax;
padding: rm(35) rm(197) rm(34) rm(198);
@include mq('sp-down') {
  padding: rm(10) rm(30);
}
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    background: #005DA2;
    // transition: all 0.3s ease;
  }
&::before {
    right: rm(50);
    width: rm(25);
    height: rm(5);
    @include mq('sp-down') {
      inset-inline-end: rm(10);
      inline-size: rm(12);
      block-size: rm(3);
    }
  }
  &::after {
    right: rm(60);
    width: rm(5);
    height: rm(25);
    transition: rotate 0.3s ease;
    @include mq('sp-down') {
      inset-inline-end: rm(15);
      inline-size: rm(3);
      block-size: rm(12);
    }
  }
  @media(any-hover: hover) {
    &:hover {
      cursor: pointer;
       &::before,
        &::after {
        background: $color-rd;
    }
    }
  }
}
details[open] .p-faq__question::after {
  rotate: 90deg;
}

.p-faq__question-text {
font-size: rm(25);
font-weight: 900;
transition: opacity 0.3s ease;
@include mq('sp-down') {
  font-size: rm(14);
}
    &::before {
      content: 'Q.';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left:rm(60);
        color: #005DA2;
      font-family: "Alfa Slab One";
      font-size: rm(30);
      font-weight: 400;
      line-height: 150%; /* 150% */
      letter-spacing: rm(3);

      @include mq('sp-down') {
        font-size: rm(17);
        left: rm(5);
      }
    }

}

.p-faq__answer {
}

.p-faq__answer-text {
    
    display: inline-block;
    font-size: rm(20);
    font-weight: 900;
    line-height: 166.667%; /* 166.667% */
    padding: rm(30) rm(80) rm(30) rm(156);
    @include mq('sp-down') {
      font-size: rm(12);
      padding: rm(20) rm(30);
    }
    &::before {
      position: absolute;
        content:"A.";
      top: rm(23);
      left: rm(58);
      color: #F56E28;
      font-family: "Alfa Slab One";
      font-size: rm(30);
      font-weight: 400;
      line-height: 150%; /* 150% */
      letter-spacing: rm(3);
      @include mq('sp-down') {
        font-size: rm(20);
        top: rm(15);
        left: rm(5);
      }
    }
}

