@use "../global" as *;

.p-mv {

}

.p-mv__inner {
    display: flex;
    flex-direction: row-reverse;
    @include mq('sp-down') {
      flex-direction: column;
    }
}

.p-mv__image {
    inline-size: 100%;
    @include mq('tab-up') {
      inline-size: rm(668);
    }

    img {
        inline-size: 100%;
        block-size: 100%;
        aspect-ratio: 668 / 585;
    }
}

.p-mv__content {
    margin-block-start: rm(27);
    @include mq('sp-down') {
      margin-block-start: rm(18);
    }
}

.p-mv__content__inner {
    padding-inline: rm(50);
    @include mq('sp-down') {
      padding-inline: rm(20);
    }
}

.p-mv__heading {
    color: $color-wt;
    font-size: rm(20);
    font-weight: 900;
    background-color: $color-rd;
    inline-size:fit-content;
    padding: rm(6) rm(6) rm(6) rm(17);

    @include mq('sp-down') {
      font-size: rm(14);
    }
}

.p-mv__title {
display: inline-flex;
flex-direction: column;
}

.p-mv__title-lead {
    margin-block-start: 5px;
    padding-inline: 15px;
    inline-size: fit-content;
    background-color: $color-rd;
    color: $color-wt;
    font-size: rm(68);
    font-weight: 900;
    line-height: 160.294%; /* 160.294% */
    letter-spacing: -3.4px;

    @include mq('sp-down') {
      font-size: rm(28);
    }
}

.p-mv__read-list {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: rm(5);
    margin-block-start: rm(-90);
    inset-inline-start: rm(280);
    @include mq('sp-down') {
      margin-block-start: revert;
      inset-inline-start: revert;
    }
}

.p-mv__read-item {
    position: relative;
    font-size: rm(15);
    font-weight: 900;
    @include mq('sp-down') {
      font-size: rm(12);
      padding-inline-start: rm(15);
    }

    &::before {
      content: '・';
      position: absolute;
      top: rm(-20);
      left: rm(-30);
      font-size: rm(40);
      @include mq('sp-down') {
        font-size: rm(28);
        top: 50%;
        transform: translateY(-50%);
        left: rm(-10);
      }
    }
}

.p-mv__button-wrapper {
    margin-block-start: rm(50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rm(9);
    @include mq('sp-down') {
      margin-block-start: rm(35);
    }
}

.p-mv__button-heading {
    position: relative;
    font-size: rm(20);
    font-weight: 900;
    @include mq('sp-down') {
      font-size: rm(14);
    }
    
      &::before,
      &::after {
        position: absolute;
        content: "";
        inline-size: rm(20);
        block-size: rm(20);
        top: rm(6);
        @include mq('sp-down') {
          inline-size: rm(14);
          block-size: rm(14);
        }
      }
    
      &::before {
        left: rm(-30);
        background: url(../img/heading-left.svg) no-repeat center center / cover;
        @include mq('sp-down') {
          left: rm(-21);
        }
      }
    
      &::after {
        right: rm(-30);
        background: url(../img/heading-right.svg) no-repeat center center / cover;
        @include mq('sp-down') {
          right: rm(-21);
        }
      }
}

.p-mv__buttons {
    display: flex;
    gap: rm(7);
    @include mq('sp-down') {
      flex-direction: column;
      gap: rm(4);
    }
}



