@use "../global" as *;

.p-trust {

}

.p-trust__inner {
padding-inline: rm(121);
padding-block: rm(100) rm(105);
margin-inline: auto;
}

.p-trust__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-trust__title span{
    position: relative;
    text-align: center;

    font-size: rm(35);
font-weight: 900;
&::before {
  content: '';
  position: absolute;
  top: 16px;
  left: rm(-40);
  inline-size: rm(13);
  block-size: rm(27.22);
  background: url(../img/inquiry-left.svg) no-repeat center center / cover;
}

&::after {
    content:"";
    position: absolute;
      top: 16px;
  right: rm(-30);
  inline-size: rm(13);
  block-size: rm(27.22);
  background: url(../img/inquiry-right.svg) no-repeat center center / cover;
}
}

.p-trust__list {
margin-block-start: rm(31);
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto auto;
gap: rm(10);
text-align: center;
}

.p-trust__item {
    inline-size: rm(368);
    background-color: #fff;
}

.trust--1 {
    
}

.p-trust__text {
    position: relative;
    display: inline-block;
    padding-block: rm(21);
    font-size: rm(20);
font-weight: 900;
&::before {
    position: absolute;
    content:"";
    top: rm(28);
    left: rm(-24);
    inline-size: rm(16);
    block-size: rm(16);
    background: url(../img/trust-label.svg) no-repeat center center / cover;
}
}

.trust--2 {

}

.trust--3 {

}

.trust--4 {

}

.trust--5 {

}

.trust--6 {

}

