@use "../global" as *;

.p-trust {

}

.p-trust__inner {
padding-inline: rm(121);
padding-block: rm(100) rm(105);
margin-inline: auto;
@include mq('sp-down') {
  inline-size: 100%;
  padding-inline: rm(20);
  padding-block: rm(70) rm(73.5);
}
}

.p-trust__title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-trust__title span{
    position: relative;
    text-align: center;
    font-size: rm(35);
    font-weight: 900;
    @include mq('sp-down') {
      font-size: rm(18);
    }
&::before {
  content: '';
  position: absolute;
  top: 16px;
  left: rm(-40);
  inline-size: rm(13);
  block-size: rm(27.22);
  background: url(../img/inquiry-left.svg) no-repeat center center / cover;
  @include mq('sp-down') {
    inline-size: rm(9.1);
    block-size: rm(19);
    top: rm(5);
    left: rm(-32);
  }
}

&::after {
    content:"";
    position: absolute;
      top: 16px;
  right: rm(-30);
  inline-size: rm(13);
  block-size: rm(27.22);
  background: url(../img/inquiry-right.svg) no-repeat center center / cover;
  @include mq('sp-down') {
        inline-size: rm(9.1);
    block-size: rm(19);
    top: rm(5);
    right: rm(-26);
  }
}
}

.p-trust__list {
margin-block-start: rm(31);
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto auto;
gap: rm(10);
text-align: center;
@include mq('sp-down') {
  margin-block-start: rm(21.7);
  grid-template-columns: 1fr;
}
}

.p-trust__item {
  display: flex;
  justify-content: center;
  gap: rm(12);
    inline-size: rm(368);
    background-color: #fff;
    @include mq('sp-down') {
      inline-size: 100%;
    }
}

.trust--1 {
    
}

.p-trust__item-label {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
    inline-size: rm(16);
    block-size: rm(16);
    aspect-ratio: 1;
    background: url(../img/trust-label.svg) no-repeat center center / cover;
    @include mq('sp-down') {
      inline-size: rm(14);
      block-size: rm(14);
    }
}

.p-trust__text {
    position: relative;
    display: inline-block;
    padding-block: rm(18);
    font-size: rm(20);
font-weight: 900;
@include mq('sp-down') {
  padding-block: rm(14.7);
  font-size: rm(14);
}
// &::before {
//     position: absolute;
//     content:"";
//     top: rm(24);
//     left: rm(-6);
//     inline-size: rm(16);
//     block-size: rm(16);
//     background: url(../img/trust-label.svg) no-repeat center center / cover;
//     @include mq('sp-down') {
//       inline-size: rm(11.2);
//       block-size: rm(11.2);
//       top: rm(19.6);
//       left: rm(-16.8);
//     }
// }
}

.trust--2 {

}

.trust--3 {

}

.trust--4 {

}

.trust--5 {

}

.trust--6 {

}

