@use "../global" as *;

.l-footer {

}

.l-footer__inner {
padding: rm(67) rm(120) rm(16) rm(74);
background-color: #005DA2;
}

.l-footer-company {

}

.l-footer-company__name {
color: #FAF3EB;
font-size: rm(20);
font-weight: 900;
}

.l-footer-company__meta {

}

.l-footer-company__list {

}

.l-footer-company__row {
color: #FAF3EB;
font-size: rm(13);
font-weight: 900;
}

.l-footer-company__term {

}

.l-footer-company__description {

}

.l-footer-nav {

}

.l-footer-nav__primary {

}

.l-footer__primary-link {
color: #FAF3EB;
font-family: "Alfa Slab One";
font-size: rm(13);
font-weight: 400;
}

.l-footer-nav__legal {

}

.l-footer__legal-link {
color: #FAF3EB;
font-size: rm(11);
font-weight: 900;
}

.l-footer__copy {

}

.l-footer__copy-right {
color: #FAF3EB;
font-size: rm(10);
font-weight: 900;
}

