@use "../global" as *;


.c-heading {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: rm(10);
}

.c-subtitle {
color: #FAF3EB;
font-family: "Alfa Slab One";
font-size: rm(15);
font-weight: 400;
inline-size: fit-content;
border-radius: 100vmax;
background: #F56E28;
padding: rm(6) rm(24) rm(3) rm(24);
}

.c-title {
    font-size: rm(35);
font-weight: 900;
}